<h5>Click a task to see more info</h5>
<div id='lists'>
    <% @lists.each do |list| %>
    <ul class='list'>
        <h4 class='deleteList'><%= link_to "X", "/lists/#{list.id}/destroy" %></h4>
        <h3><%= list.name %></h3>
        <% list.todos.each do |todo| %>
        <%= link_to "lists/#{list.id}/todos/#{todo.id}" do %>
        <li><%= todo.task %> <div class='doneIndex'><%= link_to todo.done ? "☑" : "☐", "/toggle/#{todo.id}" %></div>
        </li>
        <% end %>
        <% end %>
        <button><%= link_to "New task", "/lists/#{list.id}" %></button>
    </ul>
    <% end %>
    <button id='newList'><%= link_to "New list", "/lists/new" %></button>
</div>