<%= form_for(:session, url: login_path) do |f| %>
<h2>Login</h2>
<div class="field">
    <%= f.label :username, "Username:" %><br>
    <%= f.text_field :username %><br>
    <%= f.label :password, "Password:" %><br>
    <%= f.password_field :password %><br>
</div>
<div class="actions">
    <%= f.submit "Login" %>
</div>
<%end%>