<%= form_for(:session, url: login_path) do |f| %>
<div class="field">
    <%= f.label :username, "Username:" %><br>
    <%= f.text_field :username %><br>
    <%= f.label :password, "Password:" %><br>
    <%= f.password_field :password %><br>
</div>
<div class="actions">
    <%= f.submit "Create" %>
</div>
<%end%>