<%= form_with(url: "/lists/#{@list.id}", method: 'post') do |f| %>
<div class="field">
    <%= f.label :task, "Task:" %>
    <%= f.text_field :task %><br>
    <%= f.label :notes, "Notes:" %>
    <%= f.text_area :notes %>
</div>
<div class="actions">
    <%= f.submit "Create" %>
</div>
<% end %>