<!DOCTYPE html>
<html>

<head>
    <title>RailsTodo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
    <h1>Ruby on Rails Todo</h1>
    <% if current_user %>
    <ul>
        <li>Welcome <%= current_user.username %>!</li>
        <li><%= link_to "Log out", logout_path, method: "delete" %></li>
    </ul>
    <% else %>
    <ul>
        <li><%= link_to "Login", 'login' %></a></li>
        <li><%= link_to "Signup", 'signup' %></a></li>
    </ul>
    <% end %>
    <%= yield %>
    <button id="homeButton"><%= link_to "Home", '/' %></button>
</body>

</html>