<!DOCTYPE html>
<html>

<head>
    <title>RailsTodo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
    <h1>Ruby on Rails Todo</h1>
    <h5>Click a task to see more info</h5>
    <%= yield %>
    <button id="homeButton"><%= link_to "Home", '/' %></button>
</body>

</html>